
<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
     <td>follows:
     <%= link_to user_followings_path(user.id) do %>
      <%= user.followings.count %>
     <% end %>
     </td>
  </tr>
  <tr>
    <td>followers:
    <%= link_to user_followers_path(user.id) do %>
     <%= user.followers.count %>
    <% end %> 
    </td>
  </tr>  
</table>

<% if user.name != "guestuser" %>
<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<% end %>
  
<div class='row'>
  <% if current_user.id != user.id %>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>