<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2><%= @user.name %>さんとのチャット</h2>

            <table class="message table table table-borderless">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= image_tag @user.get_profile_image(30,30) %><%= @user.name %></th>
                  <th style="text-align: right; font-size: 20px;"><%= current_user.name %><%= image_tag current_user.get_profile_image(30,30) %></th>
                </tr>
              </thead>
              <tbody class = 'message'>
             <%= render 'cheates',chats: @chats %>
                </tbody>
            </table>

            <%= form_with model: @chat, data: {remote: true} do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
              <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
            <% end %>
        </div>
    </div>
</div>